DocumentsStorageWPFClient/Connected Services/ServiceReference1/DocumentsStorageHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentsStorageHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentsStorageHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentDatas" nillable="true" type="tns:ArrayOfDocumentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentsData" nillable="true" type="tns:DocumentsData" />
  <xs:complexType name="ArrayOfDocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentData" nillable="true" type="tns:DocumentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentData" nillable="true" type="tns:ArrayOfDocumentData" />
  <xs:complexType name="DocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualizationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentData" nillable="true" type="tns:DocumentData" />
</xs:schema>